@import "tailwindcss";

/* You can keep your custom calendar indicator fix below it */
.calendar-picker-indicator::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  height: auto;
}